extends layout

block selectedLink
  -var selected = '/add/beacon';

block content-head
  h1 Add Beacon

block content-body
  form#add-edit(method='post')
    table
      tbody
        tr
          td
            label(for='major') Major
          td
            label(for='minor') Minor
        tr
          td
            input.text(type='input', name='major', id='major', required)
          td
            input.text(type='input', name='minor', id='minor', required)
        tr
          td
            label(for='battery') Battery percentage (0 to 100)
          td
            label(for='active') Active

        tr
          td
            input.text(type='input', name='battery', id='battery', required, pattern='^[1-9][0-9]?$|^100$')
          td
            input.checkbox(type='checkbox', name='active', id='active', value='yes')

        tr
          td(colspan='2')
            label(for='room') Room (Can be left empty)

        tr
          td(colspan='2')
            select.text(name='room', id='room', required)
              each room in rooms
                option(value=room)= room
        tr
          td(colspan='2')
            input.button(type='submit', value='Add beacon')
         