extends layout

block selectedLink
  -var selected = '/add/user';

block content
  h1 Add User
  div
    input(type='input')
    input(type='input')
    input(type='input')
    input(type='submit', value='add')