doctype html
html
  head
    title= title
    script(text='text/javascript' scr='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div
    block content