doctype html
html
  head
    title Invenio Server Admin
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js')
    script(src='/javascripts/angular-route.min.js')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#wrapper

      block selectedLink
        -var selected = '/';

      -var nav = [['Start', '/'], 'Edit/Delete', ['List Users', '/users'], ['List Beacons', '/beacons'], 'Add', ['Add User', '/add/user'], ['Add Beacon', '/add/beacon']];

      div#sidebar
        div#logo
          a(href='/')
            img(src='/images/logo.png')
        div#navigation
          ul
            each val, index in nav
              if typeof val == 'string'
                li
                  h2= val
              else
                mixin navlink
                  if selected === val[1]
                    a.button.selected(href=val[1], title=val[0])= val[0]
                  else
                    a.button(href=val[1], title=val[0])= val[0]
                if nav.length == 1
                  li.first.last
                    +navlink()
                else if index == nav.length - 1
                  li.last
                    +navlink()
                else if index == 0
                  li.first
                    +navlink()
                else
                  li
                    +navlink()
      div#content(ng-view)
        block content