extends layout

block selectedLink
  -var selected = '/list/beacons';

block content-head
  h1 Beacons
  
block content-body
  table#list
    thead
      tr
        th Major
        th Minor
        th Room
        th Department
        th Edit
        th Delete
    tbody
      if beacons.length > 0
        each beacon, index in beacons
          tr
            td= beacon.major
            td= beacon.minor
            td= beacon.room_name
            td= beacon.department_name
            td
              a.button(href='#') Edit
            td
              a.button(href='#') Delete
      else
        tr
          td(colspan="6") There are no beacons