extends layout

block selectedLink
  -var selected = '/list/users';

block content-head
  h1 Users

block content-body
  table#list
    thead
      tr
        th First name
        th Last Name
        th Edit
        th Delete
    tbody
      each user, index in users
        tr
          td= user.firstName
          td= user.lastName
          td
            a.button(href='#') Edit
          td
            a.button(href='#') Delete