extends layout

block selectedLink
  -var selected = '/users';

block content
  h1 User List
  table
    thead
      th First name
      th Last Name
      th Edit
      th Delete
    tbody
      each user, index in users
        tr
          td= user.firstName
          td= user.lastName
          td
            a.button(href='#') Edit
          td
            a.button(href='#') Delete