extends layout

block selectedLink
  -var selected = '/list/users';

block content-head
  h1 Users

block content-body
  table#list
    thead
      tr
        th User ID
        th First name
        th Last name
        th.phone-number-col Phone Numbers
        th.edit-col Edit
        th.del-col Delete
    tbody
      if users.length > 0
        each user, index in users
          tr
            td= user.user_id
            td= user.first_name
            td= user.last_name
            td
              a.button(href='/list/user-phone-numbers/' + user.user_id) List
            td
              a.button(href='/edit/user/' + user.user_id) Edit
            td
              a.button(href='/delete/user/' + user.user_id) Delete
      else
        tr
          td(colspan="6") There are no users
      tr
        td(colspan="6")
      tr
        td(colspan="4")
        td(colspan="2")
          a.button(href='/add/user/') Add a user