extends layout

block selectedLink
  -var selected = '/list/roles';

block content-head
  h1 Roles
  
block content-body
  table#list
    thead
      tr
        th Role title
        th Edit
        th Delete
    tbody
      if roles.length > 0
        each role, index in roles
          tr
            td= role.role_title
            td
              a.button(href='/edit/role/' + role.role_id) Edit
            td
              a.button(href='#') Delete
      else
        tr
          td(colspan="3") There are no roles