extends layout

block selectedLink
  -var selected = '/list/rooms';

block content-head
  h1 Rooms

block content-body
  table#list
    thead
      tr
        th Room Name
        th Department
        th.edit-col Edit
        th.del-col Delete
    tbody
      if rooms.length > 0
        each room, index in rooms
          tr
            td= room.room_name
            td= room.department_name
            td
              a.button(href='/edit/room/' + room.default_room_name_id + '/' + room.department_id) Edit
            td
              a.button(href='/delete/room/' + room.default_room_name_id + '/' + room.department_id) Delete
      else
        tr
          td(colspan="4") There are no rooms
      tr
        td(colspan="4")
      tr
        td(colspan="2")
        td(colspan="2")
          a.button(href='/add/room/') Add a room