extends layout

block selectedLink
  -var selected = '/list/roles';

block content-head
  h1 Roles
  
block content-body
  table#list
    thead
      tr
        th Role title
        th.edit-col Edit
        th.del-col Delete
    tbody
      if roles.length > 0
        each role, index in roles
          tr
            td= role.role_title
            td
              a.button(href='/edit/role/' + role.role_id) Edit
            td
              a.button(href='/delete/role/' + role.role_id) Delete
      else
        tr
          td(colspan="3") There are no roles
      tr
        td(colspan="3")
      tr
        td(colspan="1")
        td(colspan="2")
          a.button(href='/add/role/') Add a role