extends layout

block selectedLink
  -var selected = '/list/users';

block content-head
  h1 Users

block content-body
  table#list
    thead
      tr
        th User ID
        th First name
        th Last Name
        th Edit
        th Delete
    tbody
      if users.length > 0
        each user, index in users
          tr
            td= user.user_id
            td= user.first_name
            td= user.last_name
            td
              a.button(href='/edit/user/' + user.user_id) Edit
            td
              a.button(href='#') Delete
      else
        tr
          td(colspan="5") There are no users