extends layout

block selectedLink
  -var selected = '/list/rooms';

block content-head
  h1 Rooms

block content-body
  table#list
    thead
      tr
        th Room Name
        th Department
        th Edit
        th Delete
    tbody
      if rooms.length > 0
        each room, index in rooms
          tr
            td= room.room_name
            td= room.department_name
            td
              a.button(href='/edit/room/' + room.default_room_name_id + '/' + room.department_id) Edit
            td
              a.button(href='#') Delete
      else
        tr
          td(colspan="4") There are no rooms