extends layout

block selectedLink
  -var selected = '/list/departments';

block content-head
  h1 Departments
  
block content-body
  table#list
    thead
      tr
        th Department name
        th Edit
        th Delete
    tbody
      if departments.length >  0
        each department, index in departments
          tr
            td= department.department_name
            td
              a.button(href='/edit/department/' + department.department_id) Edit
            td
              a.button(href='#') Delete
      else
        tr
          td(colspan="3") There are no departments