extends layout

block selectedLink
  -var selected = '/rooms';

block content-head
  h1 Rooms

block content-body
  table#list
    thead
      tr
        th Room Name
        th Department
        th Edit
        th Delete
    tbody
      each room, index in rooms
        tr
          td= room.name
          td= room.department
          td
            a.button(href='#') Edit
          td
            a.button(href='#') Delete