extends layout

block selectedLink
  -var selected = '/users';

block content
  h1 User List
  table
    thead
      th First name
      th Last Name
      th Edit
      th Delete
    tbody
      each user, index in users
        tr
          td= user.name
          td= user.department
          td x
          td x